@font-face {
  font-family: 'LouisGeorgeCafe';
  src:url('../fonts/LouisGeorgeCafe.ttf');
}
@font-face {
  font-family: '18144';
  src:url('../fonts/18144.ttf');
}
@font-face {
  font-family: 'Brushwell';
  src:url('../fonts/Brushwell.otf');
}
@font-face {
  font-family: 'RedVelvet-Regular';
  src:url('../fonts/RedVelvet-Regular.otf');
}
@font-face {
  font-family: '10691';/* nextart light */
  src:url('../fonts/10691.otf');
}