@media (max-width: 1235px) {
  nav {
    a {
      margin: 3px;
    }
  }
  .wrap-search {
    margin-left: 20px;
  }
}

/* @media (max-width: 1150px) {
  .portfolio {
    button {
      margin: 20px 0 0;
  }
}
}
 */
@media (max-width: 970px) {
  .title {
    font-size: 6vw;
    line-height: 10vw;
  }
  .about__line {
    margin: 0 15px;
  }
  .about__photo {
    padding: 40px 20px;
  }
  
  
}

@media (max-width: 860px) {
  .about {
    padding: 10px;
  }
  .about__line {
    margin: 0 10px;
  }
}

@media (max-width: 723px) {
  .about__photo {
    padding: 40px 0;
  }
  .portfolio {
    padding: 0;
  }
}

@media (max-width: 683px) {
  .about {
    flex-direction: column;
  }
  .about__line {
    display: none;
  }
  .about__right {
    width: 100%;
    button {
      margin: 10px auto;
    }
  }
  .title-brush {
    text-align: center;
  }
  .portfolio__line {
    width: 55vw;
}

}

@media (max-width: 620px) {
  nav {
    a {
      font-size: 15px;
    }
  }
  .portfolio__descr {
    background-color: rgba(252, 3, 244, 0.48);
    margin: 0 auto;
    line-height: 6vw;
    border-radius: 8px;
  }
}
@media (max-width: 540px) {
  .btn-menu {
    position: absolute;
  }
  .toggle {
    display: block;
  }
  .header-menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 0;
    transition: 0.5s;
    overflow: hidden;
    a {
      text-align: left;
    }
  }
  .logo {
    padding-top: 120px;
  }
  .title-brush {
    font-size: 10vw;
  }
}

@media (max-width: 450px) {
  .header__line {
    width: 250px;
  }
  .about__photo {
    padding: 0;
    img {
      width: 240px;
    }
  }
}



@media (max-width: 380px) {
  .about {
    border: 20px solid transparent;
    border-image: radial-gradient(green 65%, #0df309 100%) 10;
  }
}
/*@media (max-width: px) {} */
